<template>
  <div>
    <div class="wrapper">
      <div class="animated fadeIn">
        <b-row>
          <b-col cols="12">
            <b-alert show :variant="cl" style="display: flex;">
              <img class="img-kq" :src="imgSrc" alt="error img">
              <div style="width: 95%; text-align: center;flex-wrap: nowrap">
                <b>{{titleProduct}}</b><br>
                <span>{{descProduct}}</span>
              </div>
              <locale-changer/>
            </b-alert>
            <b-card header-tag="header" footer-tag="footer" v-show="!isLoading">
              <h4 class="">{{productName}}</h4>
              <h5 class="card-subtitle mb-2" v-if="productShortDesc !== ''">{{productShortDesc}}</h5>
              <h6 class="card-subtitle mb-2">{{$t('code') + productCode}}</h6>
              <h6 class="card-subtitle mb-2" v-if="mfgDate !== ''">{{$t('mfg') + mfgDate}}</h6>
              <h6 class="card-subtitle" v-if="expDate !== ''">{{$t('exp') + expDate}}</h6>
              <div class="row mb-3">
                <div class="col-lg-3 col-md-3 col-sm-6">
                  <div class="white-box text-center">
                    <img :src='avatar' class="img-responsive" style="width: 100%;"></div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-6">
                  <h4 class="box-title m-t-40">{{$t('companyInfo')}}</h4>
                  <p>
                    <span>{{companyName}}</span><br>
                    <span>
                      <a :href="'tel:' + companyPhone">{{companyPhone}}</a>
                       -
                      <a :href="'mailto:' + companyEmail">{{companyEmail}}</a>
                    </span><br>
                    <span v-show="companyWebsite !== undefined">
                      <a :href="companyWebsite">{{companyWebsite}}</a>
                      <br></span>
                    <span>{{companyAddress}}</span>
                  </p>
                  <h2 class="m-t-40">
                    <button class="btn btn-primary" style="float: right; width: 100%" @click="showModal()"
                            v-show="buyStatus === 'AVAILABLE'">{{$t('btnBuy')}}
                    </button>
                  </h2>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div id="navInfoBut" style="z-index: 10000">
                    <b-nav pills fill>
                      <b-nav-item @click="changeView('PRODUCT')" :active="viewType === 'PRODUCT'"
                                  :disabled="$isNull(productInfo)">{{$t('lProductInfo')}}
                      </b-nav-item>
                      <b-nav-item @click="changeView('BATCH')" :active="viewType === 'BATCH'"
                                  :disabled="$isNull(batchInfo)">{{$t('lBatchInfo')}}
                      </b-nav-item>
                      <b-nav-item @click="changeView('PROMOTION')" :active="viewType === 'PROMOTION'"
                                  :disabled="$isNull(promotionInfo)">{{$t('lPromotion')}}
                      </b-nav-item>
                      <b-nav-item @click="changeView('USERMANUAL')" :active="viewType === 'USERMANUAL'"
                                  :disabled="$isNull(productUserManual)">{{$t('lUserManual')}}
                      </b-nav-item>
                    </b-nav>
                  </div>
                  <div id="gen">
                    <div class="table-responsive">
                      <div v-html="htmlView"></div>
                    </div>
                  </div>
                </div>
              </div>
            </b-card>
          </b-col>
        </b-row>
      </div>
    </div>
    <b-modal ref="refModal" :title="$t('modal.header')" ok-variant="primary"
             class="modal-primary" size="full" no-close-on-backdrop>
      <div class="col-md-12">
        <b-row class="mb-3">
          <b-col md="12" class="form-group">
            {{$t('modal.name')}}
            <div ref="nameBuyerParent">
              <b-form-input type="text" v-model="nameBuyer"/>
            </div>
          </b-col>
        </b-row>
        <b-row class="mb-3">
          <b-col md="12" class="form-group">
            {{$t('modal.phone')}}
            <div ref="phoneBuyerParent">
              <b-form-input type="text" v-model="phoneBuyer"/>
            </div>
          </b-col>
        </b-row>
        <b-row class="mb-3">
          <b-col md="12" class="form-group">
            {{$t('modal.email')}}
            <div ref="emailBuyerParent">
              <b-form-input type="text" v-model="emailBuyer"/>
            </div>
          </b-col>
        </b-row>
        <b-row class="mb-3">
          <b-col md="12" class="form-group">
            {{$t('modal.address')}}
            <div ref="addressBuyerParent">
              <b-form-input type="text" v-model="addressBuyer"/>
            </div>
          </b-col>
        </b-row>
        <b-row class="mb-3">
          <b-col md="12" class="text-center" v-if="errorDesc !== ''" :style="{color: clModal}">
            {{errorDesc}}
          </b-col>
        </b-row>
      </div>
      <template slot="modal-footer">
        <slot name="modal-button">
          <b-btn variant="success" @click="sendBuy()">
            <span class="fa fa-spinner fa-spin" v-if="isRequesting"></span> {{$t('modal.send')}}
          </b-btn>
          &nbsp;
          <b-btn variant="dark" @click="$refs.refModal.hide()">{{$t('modal.cancel')}}</b-btn>
        </slot>
      </template>
    </b-modal>
  </div>
</template>

<script>
import LocaleChanger from './LocaleChanger'
import API from './API'

export default {
  name: 'index',
  components: {LocaleChanger, API},
  data () {
    return {
      cl: 'info',
      imgSrc: 'assets/loading.svg',
      formatLang: this.$getFormat(),
      titleProduct: this.$t('titlePrd.loading'),
      descProduct: this.$t('titlePrd.loadingDesc'),
      key: 'AIzaSyC3lrLGF0IrqnUfghULH8UJh2NlxWP20l8',
      productName: '',
      productCode: '',
      mfgDate: '',
      expDate: '',
      isLoading: true,
      avatar: '',
      companyName: '',
      productInfo: '',
      productUserManual: '',
      batchInfo: '',
      promotionInfo: '',
      productShortDesc: '',
      companyPhone: '',
      companyEmail: '',
      companyAddress: '',
      companyWebsite: '',
      uuid: '',
      locIP: {},
      latLong: '',
      viewType: '',
      htmlView: '',
      buyStatus: '',
      nameBuyer: '',
      phoneBuyer: '',
      emailBuyer: '',
      addressBuyer: '',
      isRequesting: false,
      errorDesc: '',
      clModal: 'black',
      valid: [
        {
          property: 'nameBuyer',
          error: [
            {type: 'NULL', errorDesc: 'Xin mời nhập tên người mua', errorDesc_en: 'Please input buyer name'}
          ]
        },
        {
          property: 'phoneBuyer',
          error: [
            {type: 'NULL', errorDesc: 'Xin mời nhập sđt người mua', errorDesc_en: 'Please input buyer phone number'},
            { type: 'REGEX', data: /\+?\d+(-\d+)*/, errorDesc: 'Không đúng định dạng số điện thoại', errorDesc_en: 'Please input correct phone number format' }
          ]
        },
        {
          property: 'emailBuyer',
          error: [
            {type: 'NULL', errorDesc: 'Xin mời nhập email người mua', errorDesc_en: 'Please input buyer email'},
            {type: 'EMAIL', errorDesc: 'Không đúng định dạng email', errorDesc_en: 'Please input correct email format'}
          ]
        },
        {
          property: 'addressBuyer',
          error: [
            {type: 'NULL', errorDesc: 'Xin mời nhập địa chỉ người mua', errorDesc_en: 'Please input buyer address'}
          ]
        }
      ]
    }
  },
  beforeMount () {
    window.addEventListener('scroll', this.scrollCheck)
    document.title = this.$t('title')
    let options = {}
    let that = this
    this.productCode = this.$route.query.code
    this.$getLocation(options)
      .then(coordinates => {
        that.latLong = coordinates.lat + ',' + coordinates.lng
        that.sendLoc()
      })
  },
  mounted () {
    this.nameBuyer = localStorage.nameBuyer
    this.phoneBuyer = localStorage.phoneBuyer
    this.emailBuyer = localStorage.emailBuyer
    this.addressBuyer = localStorage.addressBuyer
    if (this.$isNull(this.productCode)) {
      this.cl = 'danger'
      this.imgSrc = 'assets/error.png'
      this.titleProduct = this.$t('titlePrd.error')
      this.descProduct = this.$t('titlePrd.errorDesc')
      return
    }
    let that = this
    API.call_all([this.getInfoCode(), this.getLocIP()], function (val) {
      that.sendLoc()
    })
  },
  methods: {
    showModal () {
      this.errorDesc = ''
      this.$refs['refModal'].show()
    },
    sendLoc () {
      if (this.uuid === '') return
      if (this.latLong === '' && (this.locIP === undefined || Object.keys(this.locIP).length === 0)) return
      let rq = {
        code: this.productCode,
        uuid: this.uuid,
        location: this.latLong,
        ipInfo: this.locIP
      }
      API.call_POST('qrCode/loc', rq, data => {
      })
    },
    scrollCheck () {
      const headerEl = document.getElementById('navInfoBut')
      let rect = document.getElementById('gen').getBoundingClientRect()
      let top = rect.top
      if (top < -10) {
        headerEl.classList.add('fix')
      } else if (top > 10) {
        headerEl.classList.remove('fix')
      }
    },
    getLocIP () {
      let that = this
      return API.call_promise('https://ipinfo.io/json', 'GET', {}, function (res) {
        that.locIP = res
      })
    },
    getInfoCode () {
      let that = this
      return API.call_promise('qrCode/' + this.productCode, 'GET', {}, function (res) {
        if (res.success) {
          that.isLoading = false
          that.productName = res.data.product.name
          if (!that.$isNull(res.data.batch.mfg)) {
            that.mfgDate = that.moment(res.data.batch.mfg, 'DD/MM/YYYY HH:mm:ss').format(that.formatLang)
          }
          if (!that.$isNull(res.data.batch.exp)) that.expDate = that.moment(res.data.batch.exp, 'DD/MM/YYYY HH:mm:ss').format(that.formatLang)
          that.avatar = 'data:image/png;base64,' + res.data.product.avatar
          that.companyName = res.data.company.companyName
          that.companyPhone = res.data.company.phone
          that.companyEmail = res.data.company.email
          that.companyWebsite = res.data.company.website
          that.companyAddress = res.data.company.address
          that.productInfo = res.data.product.detail
          that.productShortDesc = res.data.product.shortDescription
          that.batchInfo = res.data.batch.detail
          that.promotionInfo = res.data.batch.promotion
          that.productUserManual = res.data.product.userGuide
          that.uuid = res.data.uuid
          that.buyStatus = res.data.buyStatus
          if (res.data.buyStatus === 'AVAILABLE') {
            that.cl = 'success'
            that.imgSrc = 'assets/success.png'
            that.titleProduct = that.$t('titlePrd.success')
            that.descProduct = that.$t('titlePrd.successDesc')
          } else if (res.data.buyStatus === 'SOLD') {
            that.cl = 'warning'
            that.imgSrc = 'assets/warning.png'
            that.titleProduct = that.$t('titlePrd.bought')
            that.descProduct = that.$t('titlePrd.boughtDesc')
          }
          that.changeView('PRODUCT')
        } else {
          that.cl = 'danger'
          that.imgSrc = 'assets/error.png'
          that.titleProduct = that.$t('titlePrd.error')
          that.descProduct = that.$t('titlePrd.errorDesc')
        }
      })
    },
    changeView (type) {
      this.viewType = type
      switch (type) {
        case 'PRODUCT':
          this.htmlView = this.productInfo
          break
        case 'BATCH':
          this.htmlView = this.batchInfo
          break
        case 'PROMOTION':
          this.htmlView = this.promotionInfo
          break
        case 'USERMANUAL':
          this.htmlView = this.productUserManual
          break
      }
    },
    sendBuy () {
      if (!this.$valid(this.valid)) return
      localStorage.nameBuyer = this.nameBuyer
      localStorage.phoneBuyer = this.phoneBuyer
      localStorage.emailBuyer = this.emailBuyer
      localStorage.addressBuyer = this.addressBuyer
      let rq = {
        uuid: this.uuid,
        code: this.productCode,
        name: this.nameBuyer,
        phone: this.phoneBuyer,
        email: this.emailBuyer,
        address: this.addressBuyer,
        website: ''
      }
      this.isRequesting = true
      let that = this
      API.call_POST('qrCode/buy', rq, function (res) {
        that.isRequesting = false
        if (res.success) {
          that.clModal = 'green'
          that.errorDesc = that.$t('common.successText')
        } else {
          that.clModal = 'red'
          that.errorDesc = res.message
        }
      }, function (res) {
        that.isRequesting = false
        that.clModal = 'red'
        that.errorDesc = that.$t('common.API_error_unknown')
      })
    }
  }
}
</script>
<style>
  .modal-full {
    max-width: 100% !important;
  }

  .my-modal .modal-body {
    max-height: 80vh; /* max 80% of the viewport height */
    overflow-y: auto;
  }

  .fix {
    position: fixed;
    top: 5px;
    left: 0px;
    right: 0px;
  }

  .nav-link {
    background-color: #1b1e21;
  }

  .nav-link.active {
    border: 1px solid;
  }

  .nav-link.disabled {
    background-color: #5a6268;
  }
</style>
