<template>
  <b-dropdown variant="link" size="lg" no-caret>
    <template slot="button-content">
      <b-button class="btn-success">
        <font-awesome-icon icon="globe-asia"/>
      </b-button>
    </template>

    <b-dropdown-item @click="changeLocale('vi')"><i class="flag-icon flag-icon-vn"></i> Tiếng Việt</b-dropdown-item>
    <b-dropdown-item @click="changeLocale('en')"><i class="flag-icon flag-icon-gb"></i> English</b-dropdown-item>
    <b-dropdown-item @click="changeLocale('zh')"><i class="flag-icon flag-icon-cn"></i> 中国</b-dropdown-item>
  </b-dropdown>
</template>

<script>
import 'flag-icon-css/css/flag-icon.css'

export default {
  name: 'locale-changer',
  data () {
    return {}
  },
  methods: {
    changeLocale: function (locale) {
      localStorage.locale = locale
      this.$i18n.locale = locale
      location.reload()
    }
  }
}
</script>
